.footer {
  height: 460px;
  background-color: #242944;
}

.section-a >p>span {
  font-weight: bold;
}

.d-none {
  display: none;
}


.list-container {
  display: flex;
  align-items: top;
  justify-content: center;
  background-color: #242944;

}

.sections-list {
  position: relative;
  display: flex;
  width: 1232px;
  padding: 30px 0;
  border-top: 1px solid #464c6b;
  border-bottom: 1px solid #464c6b;
}

.sections-list p {
  margin: 30px 0px;
  font-weight: normal;
  color: #7a80a5;
  font-size: 16px;
  line-height: 22px;
  max-width: 500px;
  text-align: center;
  display: block;
  margin: 30px auto 10px auto;
}



.section-a {
  position: relative;
  width: 100%;
}

