
.container-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  background-color: #242944;
  overflow: hidden;
  padding: 10px;
}

.container-title p:first-child {
  font-size: 50px;
  color: #ffffff;
}

.border-bottom-h1 {
  position: absolute;
  top: 158px;
  transform: translateX(3%);

}

.standard {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 200px;
}

@media (max-width: 1780px) {
  .standard {
    max-width: 940px;
  }
}
