
.container-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  background-color: #242944;
  overflow: hidden;
  padding: 10px;
}

.container-title p:first-child {
  font-size: 50px;
  color: #ffffff;
}

.border-bottom-h1 {
  position: absolute;
  top: 158px;
  transform: translateX(3%);

}

.standard {
  padding-bottom: 300px
}


.grid {
  max-width: 1248px;
  left: 50%;
  transform: translateX(-50%);
   
}

.grid-item {
  width: 300px;
  height: 250px;
  float: left;
}

.grid-item-2 {
  width: 300px;
  height: 600px;
  float: left;

}

@media (max-width: 1400px) {
  .grid {
    width: 936px;
  }
}


@media (max-width: 1280px) {
  .grid {
    width: 624px;
  }
}

@media (max-width:480px) {
  .grid {
    width: 300px;
  }
}
