
.container-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  background-color: #242944;
  overflow: hidden;
  padding: 10px;
}

.container-title p:first-child {
  font-size: 50px;
  color: #ffffff;
}

.border-bottom-h1 {
  position: absolute;
  top: 158px;
  transform: translateX(3%);

}

.videosA,
.videosB,
.videosC,
.videosD {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videoA,
.videoB,
.videoC,
.videoD {
  padding: 20px;
}

.videosA,
.videosB,
.videosC,
.videosD {
  position: relative;
  background: #242944;
  margin: 0 auto;
  width: 90%;
  border-bottom: 2px dashed #414141;
  padding: 100px 0px;
}


.videosD {
  border-bottom: 0px





