@charset "UTF-8";
/* CSS Document */

* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	overflow-x: hidden;
	background-color: #242944;
}

.display-none {
	display: none;
}


#header {
	box-sizing: border-box;
	background-color: #fff;
	display: table;
	width: 530px;
	height: 80px;
	border-radius: 100px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 68px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
	z-index: 9999;
	text-transform: uppercase;
}

#header.header-fixed {
	position: fixed;
	width: 100%;
	top: 0;
	border-radius: 0px;
	transition: 0s;
}


.wrap {
	width: 100%;
	text-align: center;
	background-color: #242944;
	margin-top: 80px;
}

.menu {
	vertical-align: middle;
	display: table-cell;
}

.menu ul {
	text-align:center;
}

.menu ul li {
	display: inline-block;
	vertical-align: middle;
}

.menu ul li a {
	color: #242944;
	text-decoration: none;
	padding: 10px 30px;
	float: left;
}

.menu ul li a:hover {
	color: #f34b5e;
}


@media (max-width:480px) {
  #header {
		box-sizing: border-box;
		background-color: #fff;
		display: table;
		width: 100%;
		height: 70px;
		border-radius: 0px;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 0px;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
		z-index: 9999;
		text-transform: uppercase;
	}




